﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg000_MainPage">
  <Property Name="BackColor" Value="1" />
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="0" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="0" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="CmdRecipe">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="1" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="175" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyRecipe]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdLanguage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="KeyMode" Value="Confirmed" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_LanguageRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="0" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyLanguage]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdMonitor">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="2" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="275" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyMonitor]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdTotals">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="3" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="375" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyTotals]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdSetup">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="4" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="475" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeySetup]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdShowAlarms">
          <Property Name="BackColor" Value="43" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Alarm]" />
          <Property Name="BitmapAlignmentHorizontal" Value="Left of Text" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.AlarmBtnColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="768" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="5" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="275" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyShowAlarms]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdSecurity">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="768" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="6" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="375" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeySecurity]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdPrint">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="768" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="7" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="475" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrint]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Large_BoldFont]" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="80" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_MainLayerRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="13" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="95" />
          <Property Name="Width" Value="1024" />
        </Control>
        <Control ClassId="0x00001001" Name="shpFram">
          <Property Name="BackColor" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="400" />
          <Property Name="Left" Value="256" />
          <Property Name="LineWidth" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_MainLayerRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="175" />
          <Property Name="Width" Value="506" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdBlendAuto">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="BackColor" Value="106" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="125" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="294" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendRunRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="8" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="188" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBlendAuto]" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdBlendMan">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="BackColor" Value="124" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.BlendManualLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="125" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="442" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.BlendManualRuntime]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendManualRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="9" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="188" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBlendMan]" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdBlendStop">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="BackColor" Value="17" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="125" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="589" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendStopRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="10" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="188" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBlendStop]" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdExtAuto">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="BackColor" Value="106" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="125" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="294" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtRunRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="8" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="408" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyExtAuto]" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdExtStop">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="BackColor" Value="17" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="125" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="589" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtStopRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="10" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="408" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyExtStop]" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001004" Name="txtBlendControl">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="272" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BLNRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="11" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="315" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001004" Name="txtExtControl">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="272" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtRunRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="12" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="362" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001001" Name="shpBlendAuto">
          <Property Name="BackColor" Value="16" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.BlendRunLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="317" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendRunRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="208" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001001" Name="shpExtAuto">
          <Property Name="BackColor" Value="228" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.ExtRunLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="314" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtRunRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="430" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001001" Name="shpBlendMan">
          <Property Name="BackColor" Value="212" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.BlendManualLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="464" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendManualRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="208" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001001" Name="shpBlendStop">
          <Property Name="BackColor" Value="34" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.BlendStopLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="611" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendStopRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="208" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001001" Name="shpExtStop">
          <Property Name="BackColor" Value="45" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.ExtStopLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="611" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtStopRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="432" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x0000100B" Name="strDeviceName">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="35" />
          <Property Name="Left" Value="269" />
          <Property Name="SimulationValue" Value="DeviceName" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="8" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.device_name]" />
          <Property Name="Width" Value="275" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="787" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextDatapoint" Value="Source[global].Variable[Local.cfg_super.Info.FirmwareNum]" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="2" />
          <Property Name="Width" Value="227" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="AlignmentHorizontal" Value="Right" />
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="742" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="192.168.100.173" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextDatapoint" Value="Source[global].Variable[Internal.Connection.IPAddress]" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="48" />
          <Property Name="Width" Value="282" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="AlignmentVertical" Value="Bottom" />
          <Property Name="BackColor" Value="124" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="125" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="438" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtManualRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="9" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="408" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyExtMan]" />
          <Property Name="Width" Value="147" />
        </Control>
        <Control ClassId="0x00001001" Name="shpExtMan">
          <Property Name="BackColor" Value="212" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.ExtManualLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="458" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.ExtManualRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="432" />
          <Property Name="Width" Value="99" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="BackColor" Value="212" />
          <Property Name="Border" Value="Source[local].Border[RaisedInner]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="45" />
          <Property Name="Left" Value="262" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="50" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PMEM.recipe_num]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="BackColor" Value="212" />
          <Property Name="Border" Value="Source[local].Border[RaisedInner]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="45" />
          <Property Name="Left" Value="365" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="50" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PMEM.recipe_name]" />
          <Property Name="Width" Value="387" />
        </Control>
        <Control ClassId="0x00001004" Name="txtBlendSimulationControl">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="269" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SimulationPopupRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="299" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="542" />
          <Property Name="Width" Value="480" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack1">
          <Property Name="BackColor" Value="45" />
          <Property Name="BitmapGroup" Value="None" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSimulationValue" Value="0" />
          <Property Name="BitmapSource" Value="MultipleBitmaps" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="45" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="560" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.u8LockedIfBlndNotStopped]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BlendMainRestartRuntime]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndex" Value="143" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keySubmit]" />
          <Property Name="Width" Value="218" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBlendAuto">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Datapoint &gt;= Level" />
              <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.BlendRunRuntime]" />
              <Property Name="LockingLevel" Value="1" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="3" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_BlendMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBlendMan">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="2" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="2" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_BlendMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBlendStop">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Datapoint &gt;= Level" />
              <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.BlendStopRuntime]" />
              <Property Name="LockingLevel" Value="1" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_BlendMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyExtAuto">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="3" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_ExtruderMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyExtMan">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Datapoint = 0" />
              <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.ExtManualRuntimelck]" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg009_ExtManual]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyExtStop">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_ExtruderMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyLanguage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg001_ChangeLanguage]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyMonitor">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input2]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrint">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg300_Print]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeySetup">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg002_Setup_Main]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyShowAlarms">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg305_AlarmSelect]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyTotals">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg320_Totals_System]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="VK_FUNCTION_F8">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000164">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyHidden_Calib">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000164">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keySubmit">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Request_SYSReset]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Pop_CalNotDone_EXT]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_CalNotDone_EXT" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Pop_BWH_Calibration_Recommended">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_CalNeedDoneRuntime]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Popup_Background">
          <Property Name="BackColor" Value="29" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="600" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="None" />
          <Property Name="Width" Value="1024" />
        </Control>
        <Control ClassId="0x00001002" Name="buttton_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="403" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="208" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="328" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Key_Recipe_Invalid]" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="92" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="301" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="168" />
          <Property Name="Width" Value="989" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="Key_Recipe_Invalid">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupBWHCalibration_ACK]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Pop_NoRateSpd]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_NoRateSpd" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="3" />
    </LayerRef>
    <Layer Name="Pop_KeyGateSwitch">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupGateSwitchRuntime]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="4" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Popup_Background">
          <Property Name="BackColor" Value="29" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="600" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="None" />
          <Property Name="Width" Value="1024" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="92" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="298" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="210" />
          <Property Name="Width" Value="989" />
        </Control>
        <Control ClassId="0x00001002" Name="buttton_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="403" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="208" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="328" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[new_KeyGateSwitch]" />
          <Property Name="Width" Value="224" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="Key_Recipe_Invalid">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupGateSwitch_ACK]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="Key_GateSwitch">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupGateSwitch_ACK]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="new_KeyGateSwitch">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupGateSwitch_ACK]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Pop_WTPTooBig]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_WTPTooBig" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="5" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Pop_WTPTooSmall]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_WTPTooSmall" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="6" />
    </LayerRef>
    <Layer Name="Pop_UseRecipeButtonPressed">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupRecipeUseRuntime]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="7" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Popup_Background">
          <Property Name="BackColor" Value="29" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="600" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="0" />
          <Property Name="VirtualKey" Value="None" />
          <Property Name="Width" Value="1024" />
        </Control>
        <Control ClassId="0x00001002" Name="buttton_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="403" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="208" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="328" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Key_Recipe_Invalid]" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="92" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="297" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="168" />
          <Property Name="Width" Value="989" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="Key_Recipe_Invalid">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg000_PopupRecipeUsed_ACK]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Pop_CannotPauseToAuto]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_CannotPauseToAuto" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="8" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Pop_ClearAlarmsBefore]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_ClearAlarmsBefore" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="9" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Pop_FinishBatch]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Pop_FinishBatch" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="10" />
    </LayerRef>
    <Layer Name="PopupWarmRestart">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_RestartRequiredRuntime]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="11" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="24" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="600" />
          <Property Name="Left" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="1024" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Large_BoldFont]" />
          <Property Name="Height" Value="222" />
          <Property Name="Left" Value="224" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="154" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="58" />
          <Property Name="Width" Value="582" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="Border" Value="Source[local].Border[Flat_black]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="245" />
          <Property Name="Left" Value="112" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="155" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="325" />
          <Property Name="Width" Value="797" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="Icons">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_LayerRuntime1]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="12" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="600" />
          <Property Name="Left" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="1024" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Blender]" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="550" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="512" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="48" />
          <Property Name="Width" Value="502" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_5">
          <Property Name="BackColor" Value="53" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Logo]" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="185" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="637" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="192" />
          <Property Name="Width" Value="253" />
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_6">
          <Property Name="Bitmap" Value="Source[local].Bitmap[GrayBar]" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="122" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="525" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]" />
          <Property Name="Top" Value="62" />
          <Property Name="Width" Value="464" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Automatic]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.BlendRunLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="538" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="75" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBlendAuto]" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Manual]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="691" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="75" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBlendMan]" />
          <Property Name="Width" Value="138" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Stop]" />
          <Property Name="BitmapAlignmentHorizontal" Value="Center" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.BlendStopLedColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="842" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="75" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBlendStop]" />
          <Property Name="Width" Value="138" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Alarms]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.AlarmBtnColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="85" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="576" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="488" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyShowAlarms]" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BackColor" Value="7" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Print]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="85" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="694" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="488" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrint]" />
          <Property Name="Width" Value="144" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="BackColor" Value="102" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Security]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="85" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="861" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="488" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeySecurity]" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BackColor" Value="1" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Recipe]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="132" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="18" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyRecipe]" />
          <Property Name="Width" Value="429" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BackColor" Value="1" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Monitor]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="132" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="165" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyMonitor]" />
          <Property Name="Width" Value="429" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BackColor" Value="1" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Totals]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="132" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="312" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyTotals]" />
          <Property Name="Width" Value="429" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BackColor" Value="1" />
          <Property Name="Bitmap" Value="Source[local].Bitmap[Setup]" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="SingleBitmap" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="132" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="None" />
          <Property Name="Top" Value="458" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeySetup]" />
          <Property Name="Width" Value="429" />
        </Control>
        <Control ClassId="0x0000100B" Name="strDeviceName">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="45" />
          <Property Name="Left" Value="480" />
          <Property Name="SimulationValue" Value="DeviceName" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="5" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.device_name]" />
          <Property Name="Width" Value="502" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBlendAuto">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="3" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_BlendMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBlendMan">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="2" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_BlendMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBlendStop">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_BlendMode]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrint">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg300_Print]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeySecurity">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg310_Security]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyShowAlarms">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg305_AlarmSelect]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder />
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[strDeviceName]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[String_1]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Icons].Control[strDeviceName]" />
  </TabSequence>
</Page>