﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg011_state_debug">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="11" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="1" />
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="828439" Value="mixer state" />
          <Text ID="828440" Value="mixer state n1" />
          <Text ID="828441" Value="mixer state n2" />
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="828439" Value="Text_1" />
          <Text ID="828440" Value="Text_1" />
          <Text ID="828441" Value="Text_1" />
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="828439" Value="Text_1" />
          <Text ID="828440" Value="Text_1" />
          <Text ID="828441" Value="Text_1" />
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="828439" Value="Text_1" />
          <Text ID="828440" Value="Text_1" />
          <Text ID="828441" Value="Text_1" />
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="828439" Value="Text_1" />
          <Text ID="828440" Value="Text_1" />
          <Text ID="828441" Value="Text_1" />
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="828439" Value="Text_1" />
          <Text ID="828440" Value="Text_1" />
          <Text ID="828441" Value="Text_1" />
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="828439" Value="Text_1" />
          <Text ID="828440" Value="Text_1" />
          <Text ID="828441" Value="Text_1" />
        </TextLayer>
        <IndexMap>
          <Index ID="828439" Value="0" />
          <Index ID="828440" Value="1" />
          <Index ID="828441" Value="2" />
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="32" />
          <Property Name="Left" Value="19" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="40" />
          <Property Name="Width" Value="240" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="32" />
          <Property Name="Left" Value="22" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="1" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="92" />
          <Property Name="Width" Value="240" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="32" />
          <Property Name="Left" Value="19" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[embedded].TextGroup" />
          <Property Name="TextIndexOffset" Value="2" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="145" />
          <Property Name="Width" Value="240" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="272" />
          <Property Name="SimulationValue" Value="string" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="28" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.StateMixText]" />
          <Property Name="Width" Value="742" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="275" />
          <Property Name="SimulationValue" Value="string" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="82" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.StateMixTextN1]" />
          <Property Name="Width" Value="742" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="275" />
          <Property Name="SimulationValue" Value="string" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="135" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.StateMixTextN2]" />
          <Property Name="Width" Value="742" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
  </Layers>
  <MovementOrder />
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[String_1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[String_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[String_3]" />
  </TabSequence>
</Page>