﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg020_Setup_BWH">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="20" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header_main" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="CmdBWHSetup_Control">
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="82" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="16" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndex" Value="65" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="250" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyGateSetup_Control]" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyNextPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg010_Setup_GateSel]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg010_Setup_GateSel]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyBack">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Target" Value="Back" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyGateSetup_Control">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg021_Setup_BWH_CLoop1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg002_Setup_Main]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
  </TabSequence>
</Page>