﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg161_Setup_Winder_Net">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="161" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Setup_Folder" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="640" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="18" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="832" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="19" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="60" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="237" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc2">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime2]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="163" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="220" />
          <Property Name="Width" Value="669" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="672" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="126" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="2" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime2]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="220" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_mod.addr]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc1">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="156" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="150" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput1">
          <Property Name="AlignmentHorizontal" Value="Left" />
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_type]" />
          <Property Name="Left" Value="320" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="6" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="4" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="157" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="150" />
          <Property Name="Width" Value="640" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc4">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime4]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="164" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="360" />
          <Property Name="Width" Value="669" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput4">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="672" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="20" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime4]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="360" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_mod.chan]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc3">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime3]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="364" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="278" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput3a">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="288" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime3]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_ip_address[0]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="144" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput3a1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="464" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime3]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_ip_address[1]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="144" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput3a2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="640" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime3]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_ip_address[2]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="144" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput3a3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="816" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="2" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="255" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime3]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgSHO.drive_ip_address[3]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="144" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg160_Setup_Winder]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg168_Setup_Winder_Drive1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg163_Setup_Winder_Alarm1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput3a2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput3a2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput4]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput3a2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput3a]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput3a3]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput3a1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a2]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput3a2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput3a1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a3]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput3a3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput3a2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtInput3a]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[txtInput3a1]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[txtInput3a2]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[txtInput3a3]" />
    <TabSeqItem Index="7" Value="Source[local].Layer[Header].Control[Numeric_1]" />
    <TabSeqItem Index="8" Value="Source[local].Layer[Header].Control[Numeric_2]" />
  </TabSequence>
</Page>