﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg195_Setup_System_Units">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="195" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Setup_Folder" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdPrevPage1">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="256" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime4]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="16" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="50" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevHop]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage1">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime4]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="17" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="50" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextHop]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc1">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="6" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="318" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="150" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc2">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="6" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="516" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="220" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc3">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="6" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="322" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc4">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="6" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="324" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="360" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput1">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="DropdownDirection" Value="Down" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.units]" />
          <Property Name="Left" Value="576" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="2" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="319" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="162" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput2">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.wpl_unit]" />
          <Property Name="Left" Value="576" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="3" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="Source[global].Variable[Local.HMI.SetupOptionPoint2]" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="420" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="298" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="640" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="18" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="832" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="19" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput3">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.wpa_unit]" />
          <Property Name="Left" Value="576" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="3" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="Source[global].Variable[Local.HMI.SetupOptionPoint3]" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="424" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="365" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput4">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.thick_unit]" />
          <Property Name="Left" Value="576" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="4" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="Source[global].Variable[Local.HMI.SetupOptionPoint4]" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="428" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="430" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="38" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="237" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc5">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="6" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="325" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="430" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput5">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.weight_unit]" />
          <Property Name="Left" Value="576" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="3" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="Source[global].Variable[Local.HMI.SetupOptionPoint5]" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="517" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="230" />
          <Property Name="Width" Value="448" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyNextHop">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg196_Setup_System_Units1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevHop">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg196_Setup_System_Units1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg170_Setup_System]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg185_Setup_System_Sec]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg200_Setup_System_Time]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput5]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput5]" />
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput3]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput5]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput4]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput3]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtInput3]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[txtInput5]" />
    <TabSeqItem Index="5" Value="Source[local].Layer[Header].Control[Numeric_1]" />
    <TabSeqItem Index="6" Value="Source[local].Layer[Header].Control[Numeric_2]" />
  </TabSequence>
</Page>