﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg200_Setup_System_Time">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="200" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Setup_Folder" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtDesc1">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="29" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="329" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="138" />
          <Property Name="Width" Value="669" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput1">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.intl_date_format]" />
          <Property Name="Left" Value="675" />
          <Property Name="LeftBitmap" Value="None" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="1" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="65" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="138" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="640" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="18" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="832" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="19" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001007" Name="txtHour">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="141" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="12" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="388" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Month]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001007" Name="txtMinute">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="410" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="31" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="388" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Day]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001007" Name="txtSecond">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="678" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="388" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Year]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001007" Name="txtYear">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="678" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="60" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="262" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Second]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001007" Name="txtDay">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="410" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="60" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="262" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Minute]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001007" Name="txtMonth">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="141" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="24" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="265" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Hour]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="141" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="333" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="212" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="410" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="334" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="212" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="678" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="336" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="212" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="678" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="332" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="338" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="410" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="331" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="338" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="Left" Value="141" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="330" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="338" />
          <Property Name="Width" Value="224" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="38" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="237" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg170_Setup_System]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg195_Setup_System_Units]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg201_Setup_System_Relays]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtYear]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtSecond]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtYear]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtDay]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtHour]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtSecond]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtMinute]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtMinute]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtDay]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtHour]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtSecond]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtDay]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtSecond]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtMinute]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtHour]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtYear]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtYear]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtSecond]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtDay]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtDay]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtMinute]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtYear]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtMonth]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtHour]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtYear]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtDay]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[txtHour]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtMinute]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtSecond]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[txtYear]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[txtDay]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[txtMonth]" />
    <TabSeqItem Index="7" Value="Source[local].Layer[Header].Control[Numeric_1]" />
    <TabSeqItem Index="8" Value="Source[local].Layer[Header].Control[Numeric_2]" />
  </TabSequence>
</Page>