﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg216_Profibus_Setup">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="216" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="0" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="640" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="18" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="451" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput9">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.profibus_enabled]" />
          <Property Name="Left" Value="707" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="1" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="SingleTouchSelection" Value="True" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="65" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="85" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc4">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="35" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="493" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="90" />
          <Property Name="Width" Value="298" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="65" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputComma" Value="Explicit" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMinus" Value="Normal" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]" />
          <Property Name="InputUpDown" Value="Disabled" />
          <Property Name="Left" Value="707" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="216" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime10]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="155" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.G_u16ProfibusInputBuf]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc10">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="38" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime10]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="630" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="158" />
          <Property Name="Width" Value="374" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc11">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="38" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime10]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="631" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="220" />
          <Property Name="Width" Value="518" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="65" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputComma" Value="Explicit" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMinus" Value="Normal" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]" />
          <Property Name="InputUpDown" Value="Disabled" />
          <Property Name="Left" Value="707" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="216" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime10]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="225" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.G_u16ProfibusOutputBuf]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg170_Setup_System]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg212_Setup_System_Comm]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg212_Setup_System_Comm]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyEthernet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg210_Setup_System_Ethernet]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keySerial">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg211_Setup_System_Serial]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="ucbNumLeft">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="MaxValue" Value="10" />
              <Property Name="MinValue" Value="1" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Repeat" Value="True" />
              <Property Name="StepValue" Value="-1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg212_UcbNumber]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="UcbNumRight">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="MaxValue" Value="10" />
              <Property Name="MinValue" Value="1" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Repeat" Value="True" />
              <Property Name="StepValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg212_UcbNumber]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="UcbRegisterRight">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="MaxValue" Value="50" />
              <Property Name="MinValue" Value="1" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Repeat" Value="True" />
              <Property Name="StepValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg212_UcbRegister]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="UcbRegisterLeft">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="MaxValue" Value="50" />
              <Property Name="MinValue" Value="1" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Repeat" Value="True" />
              <Property Name="StepValue" Value="-1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg212_UcbRegister]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keySmtp">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg215_Setup_Kundig]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyUCB">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg214_Setup_System_UCBs]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_1" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Header_main2]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header_main2" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput9]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main2].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[local].Layer[Header_main2].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main2].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header_main2].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main2].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Header_main2].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main2].Control[Numeric_1]" />
    <TabSeqItem Index="2" Value="Source[local].Layer[Header_main2].Control[Numeric_2]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
  </TabSequence>
</Page>