﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg213_Setup_System_Smtp">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="213" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Setup_Folder" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMode" Value="Auto" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTabSize" Value="0" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPadQVGA]" />
          <Property Name="Left" Value="416" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxChars" Value="40" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="65" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_info.ip]" />
          <Property Name="Width" Value="608" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="BackColor" Value="45" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="0" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="292" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_send_errors]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="160" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_2">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMode" Value="Auto" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTabSize" Value="0" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPadQVGA]" />
          <Property Name="Left" Value="416" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxChars" Value="40" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="128" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_info.user_name]" />
          <Property Name="Width" Value="608" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_3">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMode" Value="Auto" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTabSize" Value="0" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPadQVGA]" />
          <Property Name="Left" Value="416" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxChars" Value="40" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="190" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_info.user_pass]" />
          <Property Name="Width" Value="608" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_4">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMode" Value="Auto" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTabSize" Value="0" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPadQVGA]" />
          <Property Name="Left" Value="416" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxChars" Value="40" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="255" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_info.sender_name]" />
          <Property Name="Width" Value="608" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_5">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMode" Value="Auto" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTabSize" Value="0" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[AlphaPadQVGA]" />
          <Property Name="Left" Value="416" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxChars" Value="40" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="315" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_info.receiver_name]" />
          <Property Name="Width" Value="608" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="BackColor" Value="10" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="0" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="230" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.smtp_send_errors]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="160" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="38" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="237" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="48" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.CurrentPage]" />
          <Property Name="Left" Value="259" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Page_Titles]" />
          <Property Name="TextIndexOffset" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="8" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="60" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputComma" Value="Explicit" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMinus" Value="Normal" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]" />
          <Property Name="InputUpDown" Value="Disabled" />
          <Property Name="Left" Value="845" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="5" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg000_Debug_Layer_On]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.u16PageToGoTo]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="80" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="60" />
          <Property Name="Left" Value="925" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIntegerDigits" Value="3" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentPage]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="586" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="95" />
          <Property Name="Width" Value="221" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="218" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="587" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="75" />
          <Property Name="Width" Value="218" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="173" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="589" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="200" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="246" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="588" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="138" />
          <Property Name="Width" Value="176" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="208" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="590" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="262" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="186" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="591" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="325" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="458" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput2">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.pg213_AlarmAction]" />
          <Property Name="Left" Value="685" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="3" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="Source[global].Variable[Local.HMI.SetupOptionPoint1]" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="401" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="382" />
          <Property Name="Width" Value="339" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="320" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="592" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="402" />
          <Property Name="Width" Value="394" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="640" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="18" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="832" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="19" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]" />
          <Property Name="Width" Value="192" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg205_Setup_System_Recipe1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg225_Setup_System_Backup]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[String_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[String_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_2]" />
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[String_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[String_3]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_3]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[String_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[String_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[String_4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[String_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[String_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[String_5]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[String_5]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_5]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[String_3]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[String_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[String_4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[String_4]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[String_1]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput2]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_5]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[String_5]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[String_1]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[String_2]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[String_3]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[String_4]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[String_5]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[txtInput2]" />
    <TabSeqItem Index="10" Value="Source[local].Layer[Header].Control[Numeric_1]" />
    <TabSeqItem Index="11" Value="Source[local].Layer[Header].Control[Numeric_2]" />
  </TabSequence>
</Page>