﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg215_Setup_Kundig">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="215" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Setup_Folder" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="144" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="408" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.fMeasuringBarLeft]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="422" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="408" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.fMeasuringBarRight]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="227" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="238" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.iStatLeft]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="499" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="238" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.iStatRight]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="227" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="320" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.iReflectionLeft]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="499" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="320" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.iReflectionRight]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="60" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="3" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="69" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="248" />
          <Property Name="Width" Value="237" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="60" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="3" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="136" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="325" />
          <Property Name="Width" Value="179" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="440" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="428" />
          <Property Name="Width" Value="134" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="75" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputComma" Value="Explicit" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMinus" Value="Normal" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]" />
          <Property Name="InputUpDown" Value="Disabled" />
          <Property Name="Left" Value="717" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="9999" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="198" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.fWidthWrite]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="75" />
          <Property Name="Left" Value="717" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="288" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.fWidthVerify]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="75" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="99" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndex" Value="609" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="108" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyRead]" />
          <Property Name="Width" Value="403" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="75" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="573" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndex" Value="610" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="108" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyWrite]" />
          <Property Name="Width" Value="403" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyRead">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Signal.Kundig_read]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyWrite">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Signal.Kundig_write]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_7]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[Numeric_8]" />
  </TabSequence>
</Page>