﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg211_Setup_System_Serial">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="211" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Setup_Folder" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Lock Position" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="2" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="38" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="2" />
          <Property Name="Width" Value="237" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc4">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="19" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="464" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="155" />
          <Property Name="Width" Value="669" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput9">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_port.baud]" />
          <Property Name="Left" Value="701" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="5" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="SpacingVertical" Value="12" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="468" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="155" />
          <Property Name="Width" Value="304" />
          <Property Name="WrapMode" Value="Wrap around" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc5">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="13" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="465" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="222" />
          <Property Name="Width" Value="669" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput10">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ButtonsSlider" Value="Auto" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_port.parity]" />
          <Property Name="Left" Value="701" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="4" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="SpacingVertical" Value="12" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="477" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="222" />
          <Property Name="Width" Value="304" />
          <Property Name="WrapMode" Value="Wrap around" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc6">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="608" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="466" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="295" />
          <Property Name="Width" Value="157" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput11">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_port.stop_bits]" />
          <Property Name="Left" Value="787" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="1" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="486" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="218" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc7">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="608" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="467" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="362" />
          <Property Name="Width" Value="150" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput12">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_port.data_bits]" />
          <Property Name="Left" Value="790" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="1" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="484" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="362" />
          <Property Name="Width" Value="218" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc8">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="13" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="463" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="430" />
          <Property Name="Width" Value="269" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="19" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="488" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="105" />
          <Property Name="Width" Value="499" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput14">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_protocol]" />
          <Property Name="Left" Value="704" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="3" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="SpacingVertical" Value="12" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="489" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="88" />
          <Property Name="Width" Value="304" />
          <Property Name="WrapMode" Value="Wrap around" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc10">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="608" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="494" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="428" />
          <Property Name="Width" Value="182" />
        </Control>
        <Control ClassId="0x00001018" Name="txtInput15">
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.ab_use_crc_chksum]" />
          <Property Name="Left" Value="787" />
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="1" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="0" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="482" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="432" />
          <Property Name="Width" Value="218" />
        </Control>
        <Control ClassId="0x00001018" Name="Dropdown_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ButtonsBackColor" Value="16" />
          <Property Name="ButtonsBitmapGroup" Value="None" />
          <Property Name="ButtonsPressedBitmapGroup" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="DropdownBackColor" Value="0" />
          <Property Name="DropdownForeColor" Value="16" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="65" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_port.number]" />
          <Property Name="Left" Value="256" />
          <Property Name="LeftBitmap" Value="None" />
          <Property Name="LeftTextGroup" Value="None" />
          <Property Name="Locking" Value="Datapoint &gt;= Level" />
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]" />
          <Property Name="LockingLevel" Value="1" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxIndex" Value="3" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinIndex" Value="1" />
          <Property Name="OptionDatapoint" Value="None" />
          <Property Name="RightBitmap" Value="None" />
          <Property Name="RightTextGroup" Value="None" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[scr_text]" />
          <Property Name="TextIndexOffset" Value="26" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="430" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="640" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="18" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="832" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="19" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc3">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="16" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="614" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="362" />
          <Property Name="Width" Value="301" />
        </Control>
        <Control ClassId="0x00001007" Name="txtInput4">
          <Property Name="CompletionValue" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="65" />
          <Property Name="Left" Value="256" />
          <Property Name="Locking" Value="Never" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="254" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="360" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.remote_address]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="256" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg212_Setup_System_Comm]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg205_Setup_System_Recipe1]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg225_Setup_System_Backup]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput14]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput15]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput9]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput10]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput14]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput10]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput11]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput11]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput12]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput10]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput12]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput15]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput11]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput14]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput15]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput12]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput15]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput15]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput12]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput12]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput11]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput9]" />
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[txtInput10]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtInput11]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtInput12]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[txtInput14]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[txtInput15]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Dropdown_1]" />
    <TabSeqItem Index="7" Value="Source[local].Layer[Header].Control[Numeric_1]" />
    <TabSeqItem Index="8" Value="Source[local].Layer[Header].Control[Numeric_2]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[txtInput4]" />
  </TabSequence>
</Page>