<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg233_Setup_System_Sim4">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="233"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Setup_Folder"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="448"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="500"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="192"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="90"/>
          <Property Name="Left" Value="0"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="237"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage1">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="256"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime6]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="50"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevPage]"/>
          <Property Name="Width" Value="192"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage1">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="448"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime6]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="17"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="50"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextPage]"/>
          <Property Name="Width" Value="192"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="640"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="500"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]"/>
          <Property Name="Width" Value="192"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="832"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="19"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="500"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]"/>
          <Property Name="Width" Value="192"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc3">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="65"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SLTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="671"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="190"/>
          <Property Name="Width" Value="669"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput3">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="65"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.pg233_SimSHODrive]"/>
          <Property Name="Left" Value="678"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="1"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SLTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="190"/>
          <Property Name="Width" Value="288"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="65"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SLTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="672"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="260"/>
          <Property Name="Width" Value="669"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput4">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="65"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.pg233_SimSHOPulses]"/>
          <Property Name="Left" Value="678"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SLTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="260"/>
          <Property Name="Width" Value="288"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyNextPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg230_Setup_System_Sim1]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg232_Setup_System_Sim3]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg170_Setup_System]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg226_Setup_System_Restore]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg175_Setup_System_Config]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput4]"/>
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput4]"/>
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput4]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput3]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtInput3]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtInput4]"/>
  </TabSequence>
</Page>