﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg351_Calibrate_Edit">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="351" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header_main" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="BackColor" Value="1" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="355" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="109" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="385" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keySubmit]" />
          <Property Name="Width" Value="256" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]" />
          <Property Name="Height" Value="50" />
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]" />
          <Property Name="Left" Value="176" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="77" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="60" />
          <Property Name="Width" Value="672" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keySubmit">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="CalibWeigh">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime2]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="3" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="150" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="100" />
          <Property Name="Width" Value="672" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="149" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="290" />
          <Property Name="Width" Value="672" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="151" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="195" />
          <Property Name="Width" Value="672" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="675" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="99999999" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="99999999" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="100" />
          <Property Name="UnitText" Value="Abbreviation" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="UnitTextPosition" Value="Right" />
          <Property Name="UnitTextWidth" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg351_ZeroFactor]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="349" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="675" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="50" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="5" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="195" />
          <Property Name="UnitText" Value="Abbreviation" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="UnitTextPosition" Value="Right" />
          <Property Name="UnitTextWidth" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg351_TestWeight]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="349" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="675" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="9999999" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="290" />
          <Property Name="UnitText" Value="Abbreviation" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="UnitTextPosition" Value="Right" />
          <Property Name="UnitTextWidth" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg351_TestFactor]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="349" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
    <Layer Name="CalibHO">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime1]" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Hidden" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="4" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="152" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="125" />
          <Property Name="Width" Value="672" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="0" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="153" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="245" />
          <Property Name="Width" Value="672" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="675" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="999" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="1" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="125" />
          <Property Name="UnitText" Value="Abbreviation" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="UnitTextPosition" Value="Right" />
          <Property Name="UnitTextWidth" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg351_NipCircum]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="275" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="90" />
          <Property Name="Left" Value="675" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="10000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="1000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="245" />
          <Property Name="UnitText" Value="Abbreviation" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="UnitTextPosition" Value="Right" />
          <Property Name="UnitTextWidth" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg351_NipPulses]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="275" />
        </Control>
      </Controls>
      <KeyMapping />
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_3]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
      <Property Name="Left" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[CalibWeigh].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[CalibHO].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[CalibWeigh].Control[Numeric_3]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[CalibHO].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[CalibHO].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[embedded].Layer[CalibHO].Control[Numeric_2]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[CalibHO].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]" />
      <Property Name="Right" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]" />
      <Property Name="Up" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[CalibHO].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_3]" />
      <Property Name="Left" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_1]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_2]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[CalibWeigh].Control[Numeric_3]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[CalibHO].Control[Numeric_1]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[CalibHO].Control[Numeric_2]" />
  </TabSequence>
</Page>