﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg408_Diag_Regrind">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="408" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header_main" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="451" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack1">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="45" />
          <Property Name="PressedBackColor" Value="10" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[11]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndex" Value="137" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="38" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyHighProx]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack2">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="45" />
          <Property Name="PressedBackColor" Value="10" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[11]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndex" Value="138" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="138" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyMedProx]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack3">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="45" />
          <Property Name="PressedBackColor" Value="10" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[11]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndex" Value="139" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="235" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyLowProx]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_20">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="CompletionValue" Value="9" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="False" />
          <Property Name="Left" Value="0" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="100" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="90" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="438" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.BATCH_RECIPE_EDIT.parts.s[0]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_21">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="CompletionValue" Value="9" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="False" />
          <Property Name="Left" Value="166" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="100" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="90" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="438" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.BATCH_RECIPE_EDIT.parts.s[1]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_22">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="CompletionValue" Value="9" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="False" />
          <Property Name="Left" Value="333" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="100" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="90" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="438" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.BATCH_RECIPE_EDIT.parts.s[2]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_23">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="CompletionValue" Value="9" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="False" />
          <Property Name="Left" Value="499" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="100" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="90" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="438" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.BATCH_RECIPE_EDIT.parts.s[3]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001006" Name="BarGraph_1">
          <Property Name="BackColor" Value="7" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EndValue" Value="180" />
          <Property Name="Height" Value="308" />
          <Property Name="Left" Value="326" />
          <Property Name="Orientation" Value="Up" />
          <Property Name="Range[0].Color" Value="51" />
          <Property Name="Range[0].Start" Value="0" />
          <Property Name="SimulationValue" Value="20" />
          <Property Name="StartValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BarGraph]" />
          <Property Name="Top" Value="40" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg408_GraphIndex]" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001001" Name="wq">
          <Property Name="BackColor" Value="0" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_BatchStsColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="53" />
          <Property Name="Height" Value="32" />
          <Property Name="Left" Value="253" />
          <Property Name="Shape" Value="Ellipse" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="90" />
          <Property Name="Width" Value="48" />
        </Control>
        <Control ClassId="0x00001001" Name="Shape_2">
          <Property Name="BackColor" Value="0" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_MixerStsColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="53" />
          <Property Name="Height" Value="35" />
          <Property Name="Left" Value="256" />
          <Property Name="Shape" Value="Ellipse" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="188" />
          <Property Name="Width" Value="45" />
        </Control>
        <Control ClassId="0x00001001" Name="led">
          <Property Name="BackColor" Value="0" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_MixerGateStsColor]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="53" />
          <Property Name="Height" Value="38" />
          <Property Name="Left" Value="256" />
          <Property Name="Shape" Value="Ellipse" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]" />
          <Property Name="Top" Value="285" />
          <Property Name="Width" Value="48" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_24">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="CompletionValue" Value="9" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="False" />
          <Property Name="Left" Value="666" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="100" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="90" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[4]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="438" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.BATCH_RECIPE_EDIT.parts.s[4]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_25">
          <Property Name="AddFractionDigits" Value="2" />
          <Property Name="CompletionValue" Value="9" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Input" Value="False" />
          <Property Name="Left" Value="832" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="100" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="90" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[5]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="438" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.BATCH_RECIPE_EDIT.parts.s[5]]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="10" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_GateFeedingColor[0]]" />
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]" />
          <Property Name="ColorMapIndexOffset" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="51" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[0]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="125" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="368" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="10" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_GateFeedingColor[1]]" />
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]" />
          <Property Name="ColorMapIndexOffset" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="205" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[1]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="126" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="370" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="10" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_GateFeedingColor[2]]" />
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]" />
          <Property Name="ColorMapIndexOffset" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="371" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[2]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="127" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="368" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="34" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_GateFeedingColor[3]]" />
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]" />
          <Property Name="ColorMapIndexOffset" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="544" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[3]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="128" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="370" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="10" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_GateFeedingColor[4]]" />
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]" />
          <Property Name="ColorMapIndexOffset" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="704" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[4]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="129" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="370" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="BackColor" Value="10" />
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ColorDatapoint" Value="Source[global].Variable[Local.HMI.pg330_GateFeedingColor[5]]" />
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]" />
          <Property Name="ColorMapIndexOffset" Value="0" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="FillStyle" Value="Opaque" />
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="867" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg450_RecipeCurrentRuntime[5]]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="130" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="370" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="58" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="662" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="140" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="108" />
          <Property Name="Width" Value="182" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_29">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="835" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="10" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="1" />
          <Property Name="SimulationValue" Value="2" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="95" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.fRegrindStep]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="166" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack4">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="832" />
          <Property Name="PressedBackColor" Value="2" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="295" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyRegrindSimulation]" />
          <Property Name="Width" Value="192" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg002_Setup_Main]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyMedProx">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input3]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg408_ucRegrindMiddleCovered]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyHighProx">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input3]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg408_ucRegrindHighCovered]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyLowProx">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input3]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg408_ucRegrindLowCovered]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyRegrindSimulation">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg408_Simulation]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_29]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_29]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_29]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_29]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_29]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_20]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_21]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_22]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_23]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_24]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_25]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_29]" />
  </TabSequence>
</Page>