﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg404_Diag_System">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="404" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header_main" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="AlignmentVertical" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="100" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="33" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="0" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="448" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="34" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="150" />
          <Property Name="Width" Value="317" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="285" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="150" />
          <Property Name="UnitText" Value="Abbreviation" />
          <Property Name="UnitTextAlignment" Value="Left" />
          <Property Name="UnitTextPosition" Value="Right" />
          <Property Name="UnitTextWidth" Value="0" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.diagnostics_start]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="336" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="0" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="99" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="100" />
          <Property Name="Width" Value="317" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="285" />
          <Property Name="SimulationValue" Value="WX1.00.00" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="100" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.Info.FirmwareNum]" />
          <Property Name="Width" Value="333" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="640" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]" />
          <Property Name="TextIndexOffset" Value="339" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="100" />
          <Property Name="Width" Value="176" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_2">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]" />
          <Property Name="Height" Value="50" />
          <Property Name="Left" Value="784" />
          <Property Name="SimulationValue" Value="06/03/09" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="100" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.Info.DateString]" />
          <Property Name="Width" Value="240" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="3" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="132" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="218" />
          <Property Name="Width" Value="317" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="10" />
          <Property Name="Multiline" Value="Automatic" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="133" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="282" />
          <Property Name="Width" Value="317" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_5">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="72" />
          <Property Name="Left" Value="285" />
          <Property Name="MaxChars" Value="12" />
          <Property Name="SimulationValue" Value="0987654321" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="202" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.sSerialNumber]" />
          <Property Name="Width" Value="576" />
        </Control>
        <Control ClassId="0x0000100B" Name="String_3">
          <Property Name="AlignmentHorizontal" Value="Center" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="108" />
          <Property Name="Left" Value="288" />
          <Property Name="MaxChars" Value="18" />
          <Property Name="SimulationValue" Value="00:00:00:00:00:00" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="Top" Value="278" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.sMacAddr]" />
          <Property Name="Width" Value="707" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg401_Diag_SelectDevice]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyRegrind">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]" />
              <Property Name="CompletionValue" Value="1" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyRegrindSimulation">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]" />
              <Property Name="CompletionValue" Value="2" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="2" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[String_1]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[String_2]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[String_5]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[String_3]" />
  </TabSequence>
</Page>