<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg418_Diag_Winder">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="418"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header_main"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="82"/>
          <Property Name="Left" Value="0"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="80"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="12"/>
          <Property Name="Width" Value="166"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="19"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="82"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001004" Name="demo_mode">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgSHO.demo]"/>
          <Property Name="Left" Value="326"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="31"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="132"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x0000100B" Name="oper_mode">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="326"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="Top" Value="138"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg416_HOMode.OperMode]"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="3"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="94"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="232"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001004" Name="coast">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.shrSHO.coasts]"/>
          <Property Name="Left" Value="326"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="238"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="97"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="182"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="3"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="93"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="285"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001007" Name="drive_fails">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="326"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="288"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.drive_fail_count]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="ramping">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[ColorMap_1]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.shrSHO.ramping]"/>
          <Property Name="Left" Value="326"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="188"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_22">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="95"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="335"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001007" Name="coasts">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="326"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="338"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.coast]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="576"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="99"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="128"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001007" Name="delta_bits">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="771"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="125"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.delta_b]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="211"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="576"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="100"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="178"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001007" Name="curr_bits">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="771"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="175"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.curbits]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="211"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="525"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="317"/>
        </Control>
        <Control ClassId="0x00001007" Name="unfiltered_ad">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="771"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="75"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.pulse_bits]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="211"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_23">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="544"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="154"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="278"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_24">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="538"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="155"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="330"/>
          <Property Name="Width" Value="214"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_25">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="522"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="156"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="380"/>
          <Property Name="Width" Value="195"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_26">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="515"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="157"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="438"/>
          <Property Name="Width" Value="208"/>
        </Control>
        <Control ClassId="0x00001007" Name="set_spd">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="771"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="275"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.set_spd]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="211"/>
        </Control>
        <Control ClassId="0x00001007" Name="act_spd">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="771"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="328"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrSHO.act_spd]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="211"/>
        </Control>
        <Control ClassId="0x00001007" Name="set_ltp">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="694"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="20"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="380"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg339_ltp_set]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="288"/>
        </Control>
        <Control ClassId="0x00001007" Name="act_ltp">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="694"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="20"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="432"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg339_ltp_act]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="288"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="506"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="158"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="225"/>
          <Property Name="Width" Value="256"/>
        </Control>
        <Control ClassId="0x00001007" Name="update_time">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="774"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="1.2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="225"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.fSHoUpdateSeconds]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="211"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="448"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="500"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="192"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg401_Diag_SelectDevice]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[oper_mode]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[drive_fails]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[coasts]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[delta_bits]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[curr_bits]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[unfiltered_ad]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[set_spd]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[act_spd]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[set_ltp]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[act_ltp]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[update_time]"/>
  </TabSequence>
</Page>