﻿<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg417_Diag_Comm">
  <Property Name="Description" Value="" />
  <Property Name="Height" Value="240" />
  <Property Name="Index" Value="417" />
  <Property Name="MoveFocus" Value="Circular" />
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]" />
  <Property Name="Width" Value="320" />
  <Layers>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Frozen" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Header_main" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="0" />
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Left" Value="0" />
      <Property Name="Name" Value="Footer" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Outline" />
      <Property Name="Z-Order" Value="1" />
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9" />
      <Property Name="Description" Value="" />
      <Property Name="EditingMode" Value="Normal" />
      <Property Name="Height" Value="240" />
      <Property Name="Left" Value="0" />
      <Property Name="OutlineColor" Value="0" />
      <Property Name="OutlineDisplayControl" Value="False" />
      <Property Name="OutlineDisplayName" Value="True" />
      <Property Name="OutlineHatched" Value="False" />
      <Property Name="StatusDatapoint" Value="None" />
      <Property Name="Top" Value="0" />
      <Property Name="VisibilityMode" Value="Normal" />
      <Property Name="Width" Value="320" />
      <Property Name="Z-Order" Value="2" />
      <TextGroup>
        <TextLayer LanguageId="en-US" />
        <TextLayer LanguageId="de-DE" />
        <TextLayer LanguageId="zh-CN" />
        <TextLayer LanguageId="fr-FR" />
        <TextLayer LanguageId="pt-PT" />
        <TextLayer LanguageId="sk-SK" />
        <TextLayer LanguageId="es-MX" />
        <IndexMap />
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="438" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="345" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulRecvError]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="438" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="420" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulSendError]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="198" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="269" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="158" />
          <Property Name="Width" Value="182" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="467" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="270" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="158" />
          <Property Name="Width" Value="144" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="62" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="271" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="365" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="40" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="272" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="440" />
          <Property Name="Width" Value="141" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="176" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="345" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulRecv]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="176" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="420" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulSend]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="438" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="195" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulOpenError]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="62" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="16" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="273" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="218" />
          <Property Name="Width" Value="96" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="13" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="274" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="288" />
          <Property Name="Width" Value="134" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="438" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="270" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulServerError]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="173" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="270" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulServer]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="176" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="4000000000" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="4000000000" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="195" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulOpen]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="262" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="88" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="765" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="183" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="65" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyReset]" />
          <Property Name="Width" Value="250" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="Border" Value="Source[local].Border[Etched]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="13" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextDatapoint" Value="Source[global].Variable[Local.HMI.pg225_sErrorText]" />
          <Property Name="TextSource" Value="SingleString" />
          <Property Name="Top" Value="92" />
          <Property Name="Width" Value="448" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="461" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndex" Value="15" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="SingleText" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]" />
          <Property Name="Width" Value="192" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="730" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="195" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shr_global.rem_diag.last_point_processed]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="50" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="662" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndexOffset" Value="52" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="158" />
          <Property Name="Width" Value="358" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="730" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="420" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg212_uiRegisterReturn]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="AddFractionDigits" Value="1" />
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="62" />
          <Property Name="Left" Value="730" />
          <Property Name="MaxDatapoint" Value="None" />
          <Property Name="MaxValue" Value="None" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="None" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="345" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg212_fRegisterReturn]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="288" />
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="BackColor" Value="48" />
          <Property Name="BitmapIndexDatapoint" Value="None" />
          <Property Name="BitmapSource" Value="None" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="EmbVirtualKey" Value="None" />
          <Property Name="Height" Value="100" />
          <Property Name="KeyMatrixOffset" Value="None" />
          <Property Name="Left" Value="803" />
          <Property Name="PressedBackColor" Value="48" />
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]" />
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]" />
          <Property Name="TextIndex" Value="135" />
          <Property Name="TextIndexDatapoint" Value="None" />
          <Property Name="TextSimulationValue" Value="0" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="500" />
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyDiagCommToggle]" />
          <Property Name="Width" Value="221" />
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="BackColor" Value="1" />
          <Property Name="Border" Value="Source[local].Border[Bump]" />
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="ForeColor" Value="16" />
          <Property Name="Height" Value="75" />
          <Property Name="Input" Value="True" />
          <Property Name="InputCancel" Value="Lost Focus" />
          <Property Name="InputComma" Value="Explicit" />
          <Property Name="InputConfirm" Value="Enter" />
          <Property Name="InputMinus" Value="Normal" />
          <Property Name="InputNext" Value="Enter" />
          <Property Name="InputStart" Value="Any Key" />
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[NumPad]" />
          <Property Name="InputUpDown" Value="Disabled" />
          <Property Name="Left" Value="586" />
          <Property Name="MaxDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulIndexMax]" />
          <Property Name="MaxValue" Value="7" />
          <Property Name="MinDatapoint" Value="None" />
          <Property Name="MinValue" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]" />
          <Property Name="TeachDatapoint" Value="None" />
          <Property Name="Top" Value="72" />
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ulIndex]" />
          <Property Name="ValueMode" Value="Standard" />
          <Property Name="Width" Value="112" />
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0" />
          <Property Name="Description" Value="" />
          <Property Name="Height" Value="52" />
          <Property Name="IndexDatapoint" Value="None" />
          <Property Name="Left" Value="490" />
          <Property Name="SimulationIndex" Value="0" />
          <Property Name="SimulationValue" Value="0" />
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]" />
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]" />
          <Property Name="TextIndexOffset" Value="288" />
          <Property Name="TextSource" Value="MultipleTexts" />
          <Property Name="Top" Value="92" />
          <Property Name="Width" Value="96" />
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="Page" Value="Source[local].Page[pg401_Diag_SelectDevice]" />
              <Property Name="Target" Value="Page" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyReset">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="SetValue" Value="1" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyDiagCommToggle">
          <Property Name="Description" Value="" />
          <Property Name="VirtualKey_LED" Value="False" />
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None" />
              <Property Name="CompletionValue" Value="0" />
              <Property Name="Description" Value="" />
              <Property Name="Locking" Value="Never" />
              <Property Name="Name" Value="Action_0" />
              <Property Name="ResetValue" Value="1" />
              <Property Name="SetValue" Value="0" />
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg417_ToggleComm]" />
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_12]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]" />
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]" />
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_1]" />
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_2]" />
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_3]" />
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_4]" />
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_5]" />
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_6]" />
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_7]" />
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[Numeric_8]" />
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[Numeric_9]" />
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[Numeric_10]" />
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[Numeric_11]" />
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Default].Control[Numeric_12]" />
  </TabSequence>
</Page>