<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg007_LicenseKey">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="7"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="0"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="440087" Value="License key validation"/>
          <Text ID="440093" Value="License key is wrong! Enter a new one."/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="440087" Value="License Key Validation"/>
          <Text ID="440093" Value="License key is wrong! Enter a new one."/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="440087" Value="注册码有效"/>
          <Text ID="440093" Value="注册码错误！请重新输入。"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="440087" Value="Validation de la licence Key"/>
          <Text ID="440093" Value="La clé de licence est erroné! Entrez un nouveau."/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="440087" Value="License Key Validation"/>
          <Text ID="440093" Value="License key is wrong! Enter a new one."/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="440087" Value="Licenčný Kľúč Overenie"/>
          <Text ID="440093" Value="Licenčný Kľúč Je Zle! Zadajte Novú."/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="440087" Value="Validación clave licencia"/>
          <Text ID="440093" Value="Clave de licencia es incorrecta! Introduzca una nueva."/>
        </TextLayer>
        <IndexMap>
          <Index ID="440087" Value="5"/>
          <Index ID="440093" Value="12"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="19"/>
          <Property Name="Left" Value="81"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Page_Title]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="9"/>
          <Property Name="Width" Value="176"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="14"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="132"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="79"/>
          <Property Name="Width" Value="99"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="14"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="133"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="109"/>
          <Property Name="Width" Value="99"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_5">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="105"/>
          <Property Name="MaxChars" Value="12"/>
          <Property Name="SimulationValue" Value="0987654321"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="Top" Value="77"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.sSerialNumber]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="19"/>
          <Property Name="Left" Value="105"/>
          <Property Name="MaxChars" Value="18"/>
          <Property Name="SimulationValue" Value="00:00:00:00:00:00"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="Top" Value="105"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.sMacAddr]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="14"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="134"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="126"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_4">
          <Property Name="BackColor" Value="16"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="1"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="105"/>
          <Property Name="MaxChars" Value="13"/>
          <Property Name="SimulationValue" Value="KEY IS NEEDED"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="Top" Value="133"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.sLicensePart4]"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001002" Name="Validate">
          <Property Name="BackColor" Value="127"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="116"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="262"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="185"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyClose]"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]"/>
          <Property Name="ForeColor" Value="50"/>
          <Property Name="Height" Value="23"/>
          <Property Name="Left" Value="13"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="12"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="43"/>
          <Property Name="Width" Value="295"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="keyClose">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.ValidateKey]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[String_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[String_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[String_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[String_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[String_4]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[String_5]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[String_3]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[String_4]"/>
  </TabSequence>
</Page>