<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg024_loading">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="24"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Setup_Folder"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="797706" Value="A"/>
          <Text ID="797708" Value="B"/>
          <Text ID="797710" Value="C"/>
          <Text ID="797712" Value="D"/>
          <Text ID="797714" Value="E"/>
          <Text ID="797716" Value="F"/>
          <Text ID="797718" Value="G"/>
          <Text ID="797720" Value="H"/>
          <Text ID="797722" Value="I"/>
          <Text ID="797724" Value="J"/>
          <Text ID="797726" Value="K"/>
          <Text ID="797728" Value="L"/>
          <Text ID="797743" Value="Select  all"/>
          <Text ID="797762" Value="Select hoppers to load and press OK!"/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="797706" Value=""/>
          <Text ID="797708" Value=""/>
          <Text ID="797710" Value=""/>
          <Text ID="797712" Value=""/>
          <Text ID="797714" Value=""/>
          <Text ID="797716" Value=""/>
          <Text ID="797718" Value=""/>
          <Text ID="797720" Value=""/>
          <Text ID="797722" Value=""/>
          <Text ID="797724" Value=""/>
          <Text ID="797726" Value=""/>
          <Text ID="797728" Value=""/>
          <Text ID="797743" Value="Select  All"/>
          <Text ID="797762" Value="Trichter zum Nachladen wählen und OK drücken!"/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="797706" Value="A"/>
          <Text ID="797708" Value="B"/>
          <Text ID="797710" Value="C"/>
          <Text ID="797712" Value="D"/>
          <Text ID="797714" Value="E"/>
          <Text ID="797716" Value="F"/>
          <Text ID="797718" Value="G"/>
          <Text ID="797720" Value="H"/>
          <Text ID="797722" Value="I"/>
          <Text ID="797724" Value="J"/>
          <Text ID="797726" Value="K"/>
          <Text ID="797728" Value="L"/>
          <Text ID="797743" Value="全选"/>
          <Text ID="797762" Value="选择需要进行加料的料斗并按OK!"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="797706" Value=""/>
          <Text ID="797708" Value=""/>
          <Text ID="797710" Value=""/>
          <Text ID="797712" Value=""/>
          <Text ID="797714" Value=""/>
          <Text ID="797716" Value=""/>
          <Text ID="797718" Value=""/>
          <Text ID="797720" Value=""/>
          <Text ID="797722" Value=""/>
          <Text ID="797724" Value=""/>
          <Text ID="797726" Value=""/>
          <Text ID="797728" Value=""/>
          <Text ID="797743" Value="Select  All"/>
          <Text ID="797762" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="797706" Value=""/>
          <Text ID="797708" Value=""/>
          <Text ID="797710" Value=""/>
          <Text ID="797712" Value=""/>
          <Text ID="797714" Value=""/>
          <Text ID="797716" Value=""/>
          <Text ID="797718" Value=""/>
          <Text ID="797720" Value=""/>
          <Text ID="797722" Value=""/>
          <Text ID="797724" Value=""/>
          <Text ID="797726" Value=""/>
          <Text ID="797728" Value=""/>
          <Text ID="797743" Value="Select  All"/>
          <Text ID="797762" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="797706" Value=""/>
          <Text ID="797708" Value=""/>
          <Text ID="797710" Value=""/>
          <Text ID="797712" Value=""/>
          <Text ID="797714" Value=""/>
          <Text ID="797716" Value=""/>
          <Text ID="797718" Value=""/>
          <Text ID="797720" Value=""/>
          <Text ID="797722" Value=""/>
          <Text ID="797724" Value=""/>
          <Text ID="797726" Value=""/>
          <Text ID="797728" Value=""/>
          <Text ID="797743" Value="Select  All"/>
          <Text ID="797762" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="797706" Value=""/>
          <Text ID="797708" Value=""/>
          <Text ID="797710" Value=""/>
          <Text ID="797712" Value=""/>
          <Text ID="797714" Value=""/>
          <Text ID="797716" Value=""/>
          <Text ID="797718" Value=""/>
          <Text ID="797720" Value=""/>
          <Text ID="797722" Value=""/>
          <Text ID="797724" Value=""/>
          <Text ID="797726" Value=""/>
          <Text ID="797728" Value=""/>
          <Text ID="797743" Value="Select  All"/>
          <Text ID="797762" Value="Text_1"/>
        </TextLayer>
        <IndexMap>
          <Index ID="797706" Value="4"/>
          <Index ID="797708" Value="6"/>
          <Index ID="797710" Value="8"/>
          <Index ID="797712" Value="10"/>
          <Index ID="797714" Value="12"/>
          <Index ID="797716" Value="14"/>
          <Index ID="797718" Value="16"/>
          <Index ID="797720" Value="18"/>
          <Index ID="797722" Value="20"/>
          <Index ID="797724" Value="22"/>
          <Index ID="797726" Value="24"/>
          <Index ID="797728" Value="26"/>
          <Index ID="797743" Value="25"/>
          <Index ID="797762" Value="28"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="250"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="25"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="162"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_15]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="34"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[0]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_15]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_16]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="77"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[1]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="6"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_16]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_17]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="124"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[2]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="8"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_17]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_18]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="166"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="4"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[3]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="10"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_18]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_19]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="211"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="5"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[4]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="12"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_19]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_20]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="256"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="6"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[5]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="14"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_20]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_21]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="30"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="7"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[6]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_21]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_22]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="76"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="8"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[7]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_22]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_23]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="121"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="9"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[8]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="20"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_23]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_24]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="166"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="10"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[9]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="22"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_24]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_25]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="211"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="11"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[10]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="24"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_25]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_26]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="256"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="12"/>
          <Property Name="PressedBackColor" Value="28"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[11]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="26"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_26]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="38"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[0]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="36"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_13">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_27]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="25"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="162"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_27]"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="80"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[1]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="36"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_3">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="125"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[2]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="36"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_4">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="170"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[3]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="36"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_5">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="214"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[4]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="36"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_6">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="258"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[5]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="36"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_7">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="33"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[6]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="98"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_8">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="79"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[7]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="98"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_9">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="127"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[8]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="98"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_10">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="171"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[9]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="98"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_11">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="215"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[10]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="98"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_12">
          <Property Name="BackColor" Value="28"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="259"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[11]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="98"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="34"/>
          <Property Name="Left" Value="80"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="164"/>
          <Property Name="Width" Value="158"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg453_Recipe_Input]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_15">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[0].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_16">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[1].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_17">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[2].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_18">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[3].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_19">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[4].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_20">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[5].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_21">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[6].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_22">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[7].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_23">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[8].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_24">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[9].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_25">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[10].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_26">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[11].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_27">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg024_LoadAll]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
  </TabSequence>
</Page>