<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg031_Setup_Mixer_Alarm">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="31"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Setup_Folder"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="140"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="19"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="10"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="126"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="31"/>
          <Property Name="Width" Value="209"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc2">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="10"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="127"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="106"/>
          <Property Name="Width" Value="209"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput1">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Signal.EnteredSetup]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgMIXER.aux_starter_used]"/>
          <Property Name="Left" Value="210"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="31"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001007" Name="txtInput2">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Signal.EnteredSetup]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="210"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="99000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1000"/>
          <Property Name="SimulationValue" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="106"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgMIXER.max_dump_time]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="36"/>
          <Property Name="Left" Value="0"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="79"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="74"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="10"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime2]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="515"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="82"/>
          <Property Name="Width" Value="209"/>
        </Control>
        <Control ClassId="0x00001007" Name="txtInput5">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Signal.EnteredSetup]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="210"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="99000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="99000"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime2]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="81"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgMIXER.aux_alarm_time]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="10"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="528"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="56"/>
          <Property Name="Width" Value="187"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput6">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Signal.EnteredSetup]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgMIXER.aux_starter_input_steady]"/>
          <Property Name="Left" Value="210"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="90"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg030_Setup_Mixer]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg032_Setup_Mixer_CLoop]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg032_Setup_Mixer_CLoop]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput2]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput2]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput6]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput1]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[txtInput2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
    <TabSeqItem Index="4" Value="Source[local].Layer[Header].Control[Numeric_1]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
  </TabSequence>
</Page>