<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg088CRVdiag">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="88"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="810275" Value="Current run time"/>
          <Text ID="810277" Value="Pump on/off"/>
          <Text ID="810278" Value="CRV.  on/off"/>
          <Text ID="810279" Value="Dust A"/>
          <Text ID="810280" Value="Dust B"/>
          <Text ID="810281" Value="No rcv rdy"/>
          <Text ID="810282" Value="DC. Cleaning"/>
          <Text ID="810301" Value="A"/>
          <Text ID="810303" Value="B"/>
          <Text ID="810305" Value="C"/>
          <Text ID="810307" Value="D"/>
          <Text ID="810309" Value="E"/>
          <Text ID="810311" Value="F"/>
          <Text ID="810318" Value="Pump working"/>
          <Text ID="810319" Value="DC. pump on"/>
          <Text ID="810328" Value="DC. counter"/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="810275" Value="current run time"/>
          <Text ID="810277" Value="pump on/off"/>
          <Text ID="810278" Value="crv on/off"/>
          <Text ID="810279" Value="dust A"/>
          <Text ID="810280" Value="dust B"/>
          <Text ID="810281" Value="No rcv rdy"/>
          <Text ID="810282" Value="DC_Cleaning"/>
          <Text ID="810301" Value=""/>
          <Text ID="810303" Value=""/>
          <Text ID="810305" Value=""/>
          <Text ID="810307" Value=""/>
          <Text ID="810309" Value=""/>
          <Text ID="810311" Value=""/>
          <Text ID="810318" Value="pump working"/>
          <Text ID="810319" Value="DC pump on"/>
          <Text ID="810328" Value="DC counter"/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="810275" Value="Text_1"/>
          <Text ID="810277" Value="Pump on/off"/>
          <Text ID="810278" Value="CRV.  on/off"/>
          <Text ID="810279" Value="Text_1"/>
          <Text ID="810280" Value="Text_1"/>
          <Text ID="810281" Value="No rcv rdy"/>
          <Text ID="810282" Value="Text_1"/>
          <Text ID="810301" Value="A"/>
          <Text ID="810303" Value="B"/>
          <Text ID="810305" Value="C"/>
          <Text ID="810307" Value="D"/>
          <Text ID="810309" Value="E"/>
          <Text ID="810311" Value="F"/>
          <Text ID="810318" Value="Pump working"/>
          <Text ID="810319" Value="Text_1"/>
          <Text ID="810328" Value="Text_1"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="810275" Value="Text_1"/>
          <Text ID="810277" Value="Pump on/off"/>
          <Text ID="810278" Value="CRV.  on/off"/>
          <Text ID="810279" Value="Text_1"/>
          <Text ID="810280" Value="Text_1"/>
          <Text ID="810281" Value="No rcv rdy"/>
          <Text ID="810282" Value="Text_1"/>
          <Text ID="810301" Value=""/>
          <Text ID="810303" Value=""/>
          <Text ID="810305" Value=""/>
          <Text ID="810307" Value=""/>
          <Text ID="810309" Value=""/>
          <Text ID="810311" Value=""/>
          <Text ID="810318" Value="Text_1"/>
          <Text ID="810319" Value="Text_1"/>
          <Text ID="810328" Value="Text_1"/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="810275" Value="Text_1"/>
          <Text ID="810277" Value="Text_1"/>
          <Text ID="810278" Value="CRV.  on/off"/>
          <Text ID="810279" Value="Text_1"/>
          <Text ID="810280" Value="Text_1"/>
          <Text ID="810281" Value="No rcv rdy"/>
          <Text ID="810282" Value="Text_1"/>
          <Text ID="810301" Value=""/>
          <Text ID="810303" Value=""/>
          <Text ID="810305" Value=""/>
          <Text ID="810307" Value=""/>
          <Text ID="810309" Value=""/>
          <Text ID="810311" Value=""/>
          <Text ID="810318" Value="Text_1"/>
          <Text ID="810319" Value="Text_1"/>
          <Text ID="810328" Value="Text_1"/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="810275" Value="Text_1"/>
          <Text ID="810277" Value="Text_1"/>
          <Text ID="810278" Value="CRV.  on/off"/>
          <Text ID="810279" Value="Text_1"/>
          <Text ID="810280" Value="Text_1"/>
          <Text ID="810281" Value="No rcv rdy"/>
          <Text ID="810282" Value="Text_1"/>
          <Text ID="810301" Value=""/>
          <Text ID="810303" Value=""/>
          <Text ID="810305" Value=""/>
          <Text ID="810307" Value=""/>
          <Text ID="810309" Value=""/>
          <Text ID="810311" Value=""/>
          <Text ID="810318" Value="Text_1"/>
          <Text ID="810319" Value="Text_1"/>
          <Text ID="810328" Value="Text_1"/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="810275" Value="Text_1"/>
          <Text ID="810277" Value="Text_1"/>
          <Text ID="810278" Value="Text_1"/>
          <Text ID="810279" Value="Text_1"/>
          <Text ID="810280" Value="Text_1"/>
          <Text ID="810281" Value="Text_1"/>
          <Text ID="810282" Value="Text_1"/>
          <Text ID="810301" Value=""/>
          <Text ID="810303" Value=""/>
          <Text ID="810305" Value=""/>
          <Text ID="810307" Value=""/>
          <Text ID="810309" Value=""/>
          <Text ID="810311" Value=""/>
          <Text ID="810318" Value="Text_1"/>
          <Text ID="810319" Value="Text_1"/>
          <Text ID="810328" Value="Text_1"/>
        </TextLayer>
        <IndexMap>
          <Index ID="810275" Value="0"/>
          <Index ID="810277" Value="2"/>
          <Index ID="810278" Value="3"/>
          <Index ID="810279" Value="4"/>
          <Index ID="810280" Value="5"/>
          <Index ID="810281" Value="6"/>
          <Index ID="810282" Value="7"/>
          <Index ID="810301" Value="20"/>
          <Index ID="810303" Value="22"/>
          <Index ID="810305" Value="24"/>
          <Index ID="810307" Value="26"/>
          <Index ID="810309" Value="28"/>
          <Index ID="810311" Value="30"/>
          <Index ID="810318" Value="14"/>
          <Index ID="810319" Value="15"/>
          <Index ID="810328" Value="18"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="212"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="41"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.gcont_running_time]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="92"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="214"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="27"/>
          <Property Name="Width" Value="82"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="32"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[52]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="3"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="33"/>
          <Property Name="Width" Value="76"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="49"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[51]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="16"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="50"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="167"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="32"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[49]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="132"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="30"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="167"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="48"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[50]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="132"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="49"/>
          <Property Name="Width" Value="39"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="66"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shr_global.spump.noreceiver_ready]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="16"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="67"/>
          <Property Name="Width" Value="63"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="167"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="64"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shr_global.spump.DC_cleaning]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="104"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="63"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_37]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="13"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBackColor" Value="53"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[0]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="20"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="117"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_37]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_38]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="49"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="PressedBackColor" Value="53"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[1]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="22"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="117"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_38]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_39]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="88"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="PressedBackColor" Value="53"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[2]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="24"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="117"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_39]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_40]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="126"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="4"/>
          <Property Name="PressedBackColor" Value="53"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[3]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="26"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="117"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_40]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_41]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="163"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="5"/>
          <Property Name="PressedBackColor" Value="53"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[4]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="28"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="117"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_41]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[SmallHopperPushed]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_42]"/>
          <Property Name="Height" Value="58"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="6"/>
          <Property Name="PressedBackColor" Value="53"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[SmallHopperInactive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[5]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="30"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="117"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_42]"/>
          <Property Name="Width" Value="42"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_7">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="14"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[0]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_8">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[1]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="109"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_9">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="90"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[2]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_10">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="129"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[3]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_11">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[4]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_12">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="204"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[5]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="107"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="286"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="62"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shr_global.spump.working]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="203"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="61"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="82"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shr_global.spump.dc_pump_on]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="15"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="82"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="22"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="160"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.rcv_status[0]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="58"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="163"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.rcv_status[1]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="97"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="161"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.rcv_status[2]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="135"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="162"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.rcv_status[3]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_15">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="173"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[4]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="162"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.rcv_status[4]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_16">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="209"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_load[5]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="162"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.rcv_status[5]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="141"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="164"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="12"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="80"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shr_global.loading_counter]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="27"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="102"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="80"/>
          <Property Name="Width" Value="57"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="265"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="94"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Gtempint1]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="15"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="127"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[37]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_19">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="286"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="77"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[6]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="51"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="128"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[37]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_21">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="89"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="126"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[39]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_22">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="127"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="127"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[40]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_23">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="165"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="127"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[41]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_24">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="201"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="128"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[42]]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="15"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_13">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="244"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[6]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_14">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[loading]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="282"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.pg024_loadreqvis[7]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="110"/>
          <Property Name="Width" Value="16"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_25">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="15"/>
          <Property Name="Left" Value="209"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="80"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.StartIndex]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="19"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg399_Diag]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_37">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[0].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_38">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[1].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_39">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[2].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_40">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[3].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_41">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[4].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_42">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="1"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfgGATE[5].creceiver.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_2]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[Numeric_9]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[Numeric_10]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[Header].Control[Numeric_1]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[Numeric_11]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[Numeric_12]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Default].Control[Numeric_13]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Default].Control[Numeric_14]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[Default].Control[Numeric_15]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[Default].Control[Numeric_16]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
    <TabSeqItem Index="18" Value="Source[embedded].Layer[Default].Control[Numeric_17]"/>
    <TabSeqItem Index="19" Value="Source[embedded].Layer[Default].Control[Numeric_18]"/>
    <TabSeqItem Index="20" Value="Source[embedded].Layer[Default].Control[Numeric_19]"/>
    <TabSeqItem Index="21" Value="Source[embedded].Layer[Default].Control[Numeric_20]"/>
    <TabSeqItem Index="22" Value="Source[embedded].Layer[Default].Control[Numeric_21]"/>
    <TabSeqItem Index="23" Value="Source[embedded].Layer[Default].Control[Numeric_22]"/>
    <TabSeqItem Index="24" Value="Source[embedded].Layer[Default].Control[Numeric_23]"/>
    <TabSeqItem Index="25" Value="Source[embedded].Layer[Default].Control[Numeric_24]"/>
    <TabSeqItem Index="26" Value="Source[embedded].Layer[Default].Control[Numeric_25]"/>
  </TabSequence>
</Page>