<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg231_Setup_System_Sim2">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="231"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Setup_Folder"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="140"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="36"/>
          <Property Name="Left" Value="0"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="74"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage1">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="80"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime6]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="20"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage1">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="140"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime6]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="17"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="20"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="2"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopCRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="47"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="60"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput5">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[2].demo]"/>
          <Property Name="Left" Value="61"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopCRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="60"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="3"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopERuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="49"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput6">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[4].demo]"/>
          <Property Name="Left" Value="61"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopERuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc7">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="2"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopGRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="51"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="116"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput7">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[6].demo]"/>
          <Property Name="Left" Value="61"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopGRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="116"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc8">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="3"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopIRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="53"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="144"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput8">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[8].demo]"/>
          <Property Name="Left" Value="61"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopIRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="144"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc9">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="2"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopKRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="55"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="172"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput9">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[10].demo]"/>
          <Property Name="Left" Value="61"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopKRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="172"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc10">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="158"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopDRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="48"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="60"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput10">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[3].demo]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopDRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="60"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc11">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="158"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopFRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="50"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput11">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[5].demo]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopFRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc12">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="159"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopHRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="52"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="114"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput12">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[7].demo]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopHRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="116"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc13">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="161"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopJRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="54"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput13">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[9].demo]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopJRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="144"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDesc14">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="159"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopLRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="56"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="172"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001018" Name="txtInput14">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.cfgGATE[11].demo]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="LeftBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.HMI.SetupLock]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="1"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.HopLRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="172"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="19"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyNextPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg230_Setup_System_Sim1]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg170_Setup_System]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg226_Setup_System_Restore]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg175_Setup_System_Config]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput10]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput14]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput10]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput10]"/>
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput6]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput11]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput11]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput7]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput8]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput12]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput12]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput8]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput9]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput13]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput13]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput9]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput14]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput14]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput8]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput10]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput11]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
      <Property Name="Up" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput11]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput12]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput12]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput13]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput13]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[txtInput14]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput8]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput8]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[txtInput14]">
      <Property Name="Down" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[txtInput9]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[txtInput9]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[txtInput13]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[txtInput5]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[txtInput6]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[txtInput7]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[txtInput8]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[txtInput9]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[txtInput10]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[txtInput11]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[txtInput12]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[txtInput13]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[txtInput14]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Header].Control[Numeric_1]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[Header].Control[Numeric_2]"/>
  </TabSequence>
</Page>