<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg353_DelayGate">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="353"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Setup_Folder]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Setup_Folder"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header_main1]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header_main1"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="785771" Value="BWH fill delay"/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="785771" Value="BWH Fill Delay"/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="785771" Value="称重料斗加料延迟"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="785771" Value="BWH Fill Delay"/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="785771" Value="BWH Fill Delay"/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="785771" Value="BWH Fill Delay"/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="785771" Value="BWH Fill Delay"/>
        </TextLayer>
        <IndexMap>
          <Index ID="785771" Value="2"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="140"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.Signal.StoreConfig]"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="20"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5.5"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="96"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.cfg_super.gate_delay]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="84"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="Height" Value="19"/>
          <Property Name="Left" Value="14"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="161"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage2">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="94"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="26"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevHop]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage2">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="154"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="17"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="26"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextHop]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyNextHop">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg021_Setup_BWH_CLoop1]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevHop">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg022_Setup_BWH_CLoop2]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg022_Setup_BWH_CLoop2]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyHaulOff">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyDisplayDiag">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg401_Diag_SelectDevice]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyDisableService">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input0]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyClearCL">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input1]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyClearNet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input2]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyDispense">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input6]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyOutputDebug">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg425_Diag_Output_Debug1]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyResetWMCalib">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input4]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyResetGateCalib">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyIORack">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg445_Diag_IORack]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyGateDelay">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg399_Diag]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main1].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_1]">
      <Property Name="Down" Value="Source[local].Layer[Header_main1].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header_main1].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[local].Layer[Header_main1].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[local].Layer[Header_main1].Control[Numeric_2]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main1].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main1].Control[Numeric_2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
  </TabSequence>
</Page>