<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg350_Calibrate">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="350"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header_main"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="CmdGateSetupA">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BLNRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="78"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyBatchWeigh]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="140"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdGateSetupA1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="175"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.WTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="77"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="45"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyExtruder]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdGateSetupA2">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.GFLFRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="84"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyGFeeder]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdGateSetupA3">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.LTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="82"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="78"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyHaulOff]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdGateSetupA4">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="175"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SLTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="80"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="78"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyWinder]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdGateSetupA5">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="175"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.GFLFRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="83"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyGLoader]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AddFractionDigitsDatapoint" Value="Source[global].Variable[Local.HMI.NumDecimalPoints]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="27"/>
          <Property Name="Left" Value="23"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.BLNRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="18"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrBWH.hop_wt]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="92"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AddFractionDigitsDatapoint" Value="Source[global].Variable[Local.HMI.NumDecimalPoints]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="204"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.WTPRuntime]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="20"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.shrEXT.hop_wt]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="89"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdEnable_All">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="388"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="145"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevPage]"/>
          <Property Name="Width" Value="140"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyPrevPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input3]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Signal.StoreConfig]"/>
            </KeyAction>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_1"/>
              <Property Name="Page" Value="Source[local].Page[pg000_MainPage]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyBatchWeigh">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input4]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyHaulOff">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="5"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyExtruder">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input4]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyWinder">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input5]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="3"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyGFeeder">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input4]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="7"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyGLoader">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input4]"/>
              <Property Name="CompletionValue" Value="1"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="6"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="Calb_EditCalib">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime3]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="240"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="320"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="29"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="100"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="30"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Raised]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="70"/>
          <Property Name="VirtualKey" Value="None"/>
          <Property Name="Width" Value="260"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="45"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="147"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyYes]"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="175"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="148"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyNo]"/>
          <Property Name="Width" Value="100"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="keyYes">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input6]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyNo">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.Action_Input7]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_2]"/>
  </TabSequence>
</Page>