<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg435_GateDelayTest">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="435"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <Layer Name="Gate_Delay">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="0"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="485946" Value="Gate delay(s) in ms"/>
          <Text ID="485947" Value="First test"/>
          <Text ID="485948" Value="Last test"/>
          <Text ID="485949" Value="Step"/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="485946" Value=""/>
          <Text ID="485947" Value=""/>
          <Text ID="485948" Value=""/>
          <Text ID="485949" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="485946" Value="阀门延迟时间(毫秒)"/>
          <Text ID="485947" Value="第一次测试"/>
          <Text ID="485948" Value="最后测试"/>
          <Text ID="485949" Value="步骤"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="485946" Value="Porte délai (s) en ms"/>
          <Text ID="485947" Value="Premier test"/>
          <Text ID="485948" Value="Dernier test"/>
          <Text ID="485949" Value="Étape"/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="485946" Value=""/>
          <Text ID="485947" Value=""/>
          <Text ID="485948" Value=""/>
          <Text ID="485949" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="485946" Value="Oneskorenie Gate (Y) V Ms"/>
          <Text ID="485947" Value="Prvý Test"/>
          <Text ID="485948" Value="Posledná Skúška"/>
          <Text ID="485949" Value="Krok"/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="485946" Value="Puerta delay(s) en ms"/>
          <Text ID="485947" Value="Primera prueba"/>
          <Text ID="485948" Value="Última prueba"/>
          <Text ID="485949" Value="Paso"/>
        </TextLayer>
        <IndexMap>
          <Index ID="485946" Value="4"/>
          <Index ID="485947" Value="5"/>
          <Index ID="485948" Value="6"/>
          <Index ID="485949" Value="7"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="41"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextDatapoint" Value="None"/>
          <Property Name="TextSource" Value="SingleString"/>
          <Property Name="Top" Value="194"/>
          <Property Name="Width" Value="201"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="169"/>
          <Property Name="Width" Value="201"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="7"/>
          <Property Name="EndY" Value="170"/>
          <Property Name="StartX" Value="7"/>
          <Property Name="StartY" Value="170"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="206"/>
          <Property Name="EndY" Value="170"/>
          <Property Name="StartX" Value="205"/>
          <Property Name="StartY" Value="170"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="6"/>
          <Property Name="EndY" Value="169"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="6"/>
          <Property Name="StartY" Value="169"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="206"/>
          <Property Name="EndY" Value="169"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="206"/>
          <Property Name="StartY" Value="169"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="173"/>
          <Property Name="Width" Value="196"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_2">
          <Property Name="BackColor" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="4"/>
          <Property Name="Left" Value="9"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="234"/>
          <Property Name="Width" Value="199"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_3">
          <Property Name="BackColor" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="65"/>
          <Property Name="Left" Value="206"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="173"/>
          <Property Name="Width" Value="4"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="209"/>
          <Property Name="EndY" Value="173"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="209"/>
          <Property Name="StartY" Value="173"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="11"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="195"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="82"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="195"/>
          <Property Name="Width" Value="59"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="156"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="195"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="11"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="211"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u16FirstDelay]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="57"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="500"/>
          <Property Name="SimulationValue" Value="500"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="211"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u16LastDelay]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="154"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="200"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="50"/>
          <Property Name="SimulationValue" Value="100"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="210"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u8DelayStep]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="50"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="BackToMain">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg000_MainPage]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="Times_To_Test">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="485958" Value="Select firing time(s) to test in ms"/>
          <Text ID="485959" Value="First test time"/>
          <Text ID="485960" Value="Last test time"/>
          <Text ID="485961" Value="Step"/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="485958" Value=""/>
          <Text ID="485959" Value=""/>
          <Text ID="485960" Value=""/>
          <Text ID="485961" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="485958" Value="选择开始时间(s)来进行测试"/>
          <Text ID="485959" Value="第一次测试时间"/>
          <Text ID="485960" Value="最后测试时间"/>
          <Text ID="485961" Value="步骤"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="485958" Value="temps (s) Sélectionnez de tir pour tester en ms"/>
          <Text ID="485959" Value="Première fois de test"/>
          <Text ID="485960" Value="La dernière fois de test"/>
          <Text ID="485961" Value="Étape"/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="485958" Value=""/>
          <Text ID="485959" Value=""/>
          <Text ID="485960" Value=""/>
          <Text ID="485961" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="485958" Value="Čas (S) Zvoľte Napaľovací Testovať V Ms"/>
          <Text ID="485959" Value="Prvýkrát Skúška"/>
          <Text ID="485960" Value="Naposledy Skúška"/>
          <Text ID="485961" Value="Krok"/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="485958" Value="Seleccione disparo (s) a prueba en ms"/>
          <Text ID="485959" Value="Primer tiempo de la prueba"/>
          <Text ID="485960" Value="Último tiempo de prueba"/>
          <Text ID="485961" Value="Paso"/>
        </TextLayer>
        <IndexMap>
          <Index ID="485958" Value="2"/>
          <Index ID="485959" Value="3"/>
          <Index ID="485960" Value="4"/>
          <Index ID="485961" Value="5"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextDatapoint" Value="None"/>
          <Property Name="TextSource" Value="SingleString"/>
          <Property Name="Top" Value="116"/>
          <Property Name="Width" Value="303"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="92"/>
          <Property Name="Width" Value="303"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="7"/>
          <Property Name="EndY" Value="93"/>
          <Property Name="StartX" Value="7"/>
          <Property Name="StartY" Value="93"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="308"/>
          <Property Name="EndY" Value="93"/>
          <Property Name="StartX" Value="307"/>
          <Property Name="StartY" Value="93"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="6"/>
          <Property Name="EndY" Value="92"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="6"/>
          <Property Name="StartY" Value="92"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="308"/>
          <Property Name="EndY" Value="92"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="308"/>
          <Property Name="StartY" Value="92"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="96"/>
          <Property Name="Width" Value="297"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_2">
          <Property Name="BackColor" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="4"/>
          <Property Name="Left" Value="9"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="161"/>
          <Property Name="Width" Value="301"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_3">
          <Property Name="BackColor" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="69"/>
          <Property Name="Left" Value="308"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="96"/>
          <Property Name="Width" Value="4"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="311"/>
          <Property Name="EndY" Value="96"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="311"/>
          <Property Name="StartY" Value="96"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="14"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="121"/>
          <Property Name="Width" Value="91"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="124"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="121"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="235"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="121"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="12"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="10000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="100"/>
          <Property Name="SimulationValue" Value="250"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="136"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u16FirstTime]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="125"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="10000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="100"/>
          <Property Name="SimulationValue" Value="250"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="136"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u16LastTime]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="64"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="234"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="250"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="5"/>
          <Property Name="SimulationValue" Value="5"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u8TimeStep]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="54"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Gates_To_Test">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Outline"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en-US">
          <Text ID="485983" Value="Select gates to test"/>
          <Text ID="486000" Value="GO"/>
          <Text ID="488272" Value="Shots"/>
        </TextLayer>
        <TextLayer LanguageId="de-DE">
          <Text ID="485983" Value=""/>
          <Text ID="486000" Value=""/>
          <Text ID="488272" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh-CN">
          <Text ID="485983" Value="选择阀门进行测试"/>
          <Text ID="486000" Value="GO"/>
          <Text ID="488272" Value="射击"/>
        </TextLayer>
        <TextLayer LanguageId="fr-FR">
          <Text ID="485983" Value="Sélectionner des portes pour tester"/>
          <Text ID="486000" Value="ALLER"/>
          <Text ID="488272" Value="Coups"/>
        </TextLayer>
        <TextLayer LanguageId="pt-PT">
          <Text ID="485983" Value=""/>
          <Text ID="486000" Value=""/>
          <Text ID="488272" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sk-SK">
          <Text ID="485983" Value="Vyberte Brány Testovať"/>
          <Text ID="486000" Value="Go"/>
          <Text ID="488272" Value="Strely"/>
        </TextLayer>
        <TextLayer LanguageId="es-MX">
          <Text ID="485983" Value="Seleccione puertas a prueba de"/>
          <Text ID="486000" Value="IR"/>
          <Text ID="488272" Value="Tomas"/>
        </TextLayer>
        <IndexMap>
          <Index ID="485983" Value="20"/>
          <Index ID="486000" Value="38"/>
          <Index ID="488272" Value="16"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="BackColor" Value="53"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="59"/>
          <Property Name="Left" Value="6"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextDatapoint" Value="None"/>
          <Property Name="TextSource" Value="SingleString"/>
          <Property Name="Top" Value="25"/>
          <Property Name="Width" Value="303"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="6"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="1"/>
          <Property Name="Width" Value="303"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="7"/>
          <Property Name="EndY" Value="2"/>
          <Property Name="StartX" Value="7"/>
          <Property Name="StartY" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="308"/>
          <Property Name="EndY" Value="2"/>
          <Property Name="StartX" Value="307"/>
          <Property Name="StartY" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="6"/>
          <Property Name="EndY" Value="1"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="6"/>
          <Property Name="StartY" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="308"/>
          <Property Name="EndY" Value="1"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="308"/>
          <Property Name="StartY" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial9pxBold]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="5"/>
          <Property Name="Width" Value="297"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_2">
          <Property Name="BackColor" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="4"/>
          <Property Name="Left" Value="9"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="83"/>
          <Property Name="Width" Value="301"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_3">
          <Property Name="BackColor" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="82"/>
          <Property Name="Left" Value="308"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="5"/>
          <Property Name="Width" Value="4"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="311"/>
          <Property Name="EndY" Value="5"/>
          <Property Name="ForeColor" Value="53"/>
          <Property Name="StartX" Value="311"/>
          <Property Name="StartY" Value="5"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BackColor" Value="176"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Unchecked]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="23"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="12"/>
          <Property Name="PressedBackColor" Value="2"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="45"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="30"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TestGateA]"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="BackColor" Value="176"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Unchecked]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="23"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="111"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="2"/>
          <Property Name="PressedBackColor" Value="2"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="46"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="30"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TestGateB]"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BackColor" Value="176"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Unchecked]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="23"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="210"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="3"/>
          <Property Name="PressedBackColor" Value="2"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="47"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="30"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TestGateC]"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BackColor" Value="176"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Unchecked]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="23"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="12"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="4"/>
          <Property Name="PressedBackColor" Value="2"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="48"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TestGateD]"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BackColor" Value="176"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Unchecked]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="23"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="111"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="4"/>
          <Property Name="PressedBackColor" Value="2"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="49"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TestGateE]"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BackColor" Value="176"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Unchecked]"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="23"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="210"/>
          <Property Name="Locking" Value="Datapoint &lt; Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.cfg_super.total_gates]"/>
          <Property Name="LockingLevel" Value="4"/>
          <Property Name="PressedBackColor" Value="2"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[checked]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndex" Value="50"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[TestGateF]"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="176"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[Large_BoldFont]"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="34"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="274"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="SpacingVertical" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="38"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="205"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[RunGateTest]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Arial10pxBold]"/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="208"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="16"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="178"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="176"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="251"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="200"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="2"/>
          <Property Name="SimulationValue" Value="100"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input_Setup]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="177"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_u8AveragePoints]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="53"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="keyMixerGate">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[14]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="keyBatchGate">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IO_dig[0].channel[13]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TestGateA">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGatesToTest[0]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TestGateB">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGatesToTest[1]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TestGateC">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGatesToTest[2]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TestGateD">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGatesToTest[3]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TestGateE">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGatesToTest[4]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="TestGateF">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGatesToTest[5]]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="RunGateTest">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg435_bGoPressed]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Gate_Delay].Control[Numeric_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Gate_Delay].Control[Numeric_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Gate_Delay].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Times_To_Test].Control[Numeric_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Times_To_Test].Control[Numeric_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Gates_To_Test].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Gates_To_Test].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Gates_To_Test].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_3]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_4]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_5]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Gate_Delay].Control[Numeric_6]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_1]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_2]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Times_To_Test].Control[Numeric_3]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Gates_To_Test].Control[Numeric_6]"/>
  </TabSequence>
</Page>