<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.11.97 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="pg445_Diag_IORack">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="445"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Header_main]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Header_main"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdBack">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="140"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyBackPage]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="68"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="25"/>
          <Property Name="Width" Value="58"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="68"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="25"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="33"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="7"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="70"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="71"/>
          <Property Name="Width" Value="57"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="69"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="67"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_SerialNum]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="89"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="69"/>
          <Property Name="SimulationValue" Value="4PP045.0571-062"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="Top" Value="46"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_ModuleID]"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="71"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="49"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdPrevPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyPrevSet]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="CmdNextPage">
          <Property Name="BackColor" Value="48"/>
          <Property Name="BitmapGroup" Value="None"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSimulationValue" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="19"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[KeyNextSet]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="4"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="69"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="91"/>
          <Property Name="Width" Value="89"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="22"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.pg445_Module_Status]"/>
          <Property Name="Left" Value="109"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="65"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="48"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="72"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="67"/>
          <Property Name="Width" Value="115"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="280"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="67"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_HW_Vers]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="73"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="88"/>
          <Property Name="Width" Value="115"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="280"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.SetupRuntime1]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="88"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_FW_Vers]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="40"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="KeyBackPage">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg399_Diag]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyPrevSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="17"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="-1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyNextSet">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="17"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.CurrentDevice]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="KeyX2XStatus">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime3]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="pg445_EnvTemp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[pg446_Env_Temp]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="X20BR9300">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime1]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="130"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_SupplyCurrent]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="69"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="27"/>
          <Property Name="Left" Value="130"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="140"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_SupplyVoltage]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="57"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="265"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_Status1]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="28"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="265"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="138"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_Status2]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="28"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="75"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="120"/>
          <Property Name="Width" Value="129"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="3"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="74"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="143"/>
          <Property Name="Width" Value="126"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="188"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="92"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="119"/>
          <Property Name="Width" Value="75"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="188"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="90"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="141"/>
          <Property Name="Width" Value="75"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="PP045">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime2]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="77"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="113"/>
          <Property Name="Width" Value="65"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="AddFractionDigits" Value="-1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="23"/>
          <Property Name="Left" Value="66"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="105"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_CpuTemperature]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="78"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="133"/>
          <Property Name="Width" Value="55"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="BackColor" Value="22"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.pg445_BatteryVoltage]"/>
          <Property Name="Left" Value="66"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="67"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="130"/>
          <Property Name="Width" Value="89"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdBack1">
          <Property Name="BackColor" Value="1"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="207"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndex" Value="79"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyx2x_status]"/>
          <Property Name="Width" Value="109"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="4"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndexOffset" Value="96"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="151"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="66"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="151"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Connection.NodeNumber]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="44"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Setup]"/>
          <Property Name="TextIndexOffset" Value="364"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="176"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Numbers_Font]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="78"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TextDatapoint" Value="Source[global].Variable[Internal.Connection.IPAddress]"/>
          <Property Name="TextSource" Value="SingleString"/>
          <Property Name="Top" Value="175"/>
          <Property Name="Width" Value="110"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BackColor" Value="1"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="34"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="157"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndex" Value="76"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="103"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[pg445_EnvTemp]"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="AddFractionDigits" Value="-1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="27"/>
          <Property Name="Left" Value="207"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="107"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.pg445_EnvTemperature]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="82"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="keyx2x_status">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="0"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime3]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="X2X_Status">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Lock Position"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime3]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="5"/>
      <TextGroup>
        <TextLayer LanguageId="en-US"/>
        <TextLayer LanguageId="de-DE"/>
        <TextLayer LanguageId="zh-CN"/>
        <TextLayer LanguageId="fr-FR"/>
        <TextLayer LanguageId="pt-PT"/>
        <TextLayer LanguageId="sk-SK"/>
        <TextLayer LanguageId="es-MX"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="53"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="220"/>
          <Property Name="Left" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="20"/>
          <Property Name="Width" Value="320"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="90"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.SyncErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="82"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="61"/>
          <Property Name="Width" Value="159"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="89"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="90"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="108"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.SyncSramErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="84"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="126"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.SyncBusyErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="85"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="126"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="144"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.SyncNoRxErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="86"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="144"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="162"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.SyncFormatErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="87"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="162"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="180"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.SyncPendingErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="88"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="90"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.AsyncErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="83"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="61"/>
          <Property Name="Width" Value="159"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="89"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="90"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="108"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.AsyncSramErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="84"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="108"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="126"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.AsyncBusyErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="85"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="126"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="144"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.AsyncNoRxErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="86"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="144"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="162"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.AsyncFormatErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="87"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="162"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="180"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.AsyncPendingErrorCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="88"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="40"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.CycleCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="79"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="80"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="40"/>
          <Property Name="Width" Value="79"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="260"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="40"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.PLC.X20_IOMap.BreakCount]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="160"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="81"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="40"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[DefaultBoldFont]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Diagnostics]"/>
          <Property Name="TextIndexOffset" Value="79"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="21"/>
          <Property Name="Width" Value="320"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="319"/>
          <Property Name="EndY" Value="80"/>
          <Property Name="StartX" Value="0"/>
          <Property Name="StartY" Value="80"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="165"/>
          <Property Name="EndY" Value="195"/>
          <Property Name="StartX" Value="165"/>
          <Property Name="StartY" Value="63"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="37"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="137"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Setup_Navigation]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Product_Main]"/>
          <Property Name="TextIndex" Value="15"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="202"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[keyClose]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="keyClose">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.PopupRuntime3]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Header_main].Control[Numeric_2]">
      <Property Name="Down" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Left" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Right" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
      <Property Name="Up" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Header_main].Control[Numeric_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Header_main].Control[Numeric_2]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_1]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[String_1]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_2]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[X20BR9300].Control[Numeric_5]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[X20BR9300].Control[Numeric_6]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[X20BR9300].Control[Numeric_7]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[X20BR9300].Control[Numeric_8]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[PP045].Control[Numeric_4]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[PP045].Control[Numeric_1]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[PP045].Control[Numeric_5]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_1]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_2]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_3]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_4]"/>
    <TabSeqItem Index="18" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_5]"/>
    <TabSeqItem Index="19" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_6]"/>
    <TabSeqItem Index="20" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_7]"/>
    <TabSeqItem Index="21" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_8]"/>
    <TabSeqItem Index="22" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_9]"/>
    <TabSeqItem Index="23" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_10]"/>
    <TabSeqItem Index="24" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_11]"/>
    <TabSeqItem Index="25" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_12]"/>
    <TabSeqItem Index="26" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_13]"/>
    <TabSeqItem Index="27" Value="Source[embedded].Layer[X2X_Status].Control[Numeric_14]"/>
  </TabSequence>
</Page>